@font-face {
  font-family: 'FiraCode';
  src: url('/public/fonts/FiraCode-Regular.ttf') format('ttf');
  font-weight: 400;
  font-weight: regular;
}

@font-face {
  font-family: 'FiraCode Bold';
  src: url('/public/fonts/FiraCode-Bold.ttf') format('ttf');
  font-weight: 700;
  font-weight: bold;
}
